:root {
  --primary-font-family: "Pacifico", cursive;
  --secondary-font-family: "Work Sans", sans-serif;
  --secondary-color: #f7f7f7;
}

body {
  font-family: var(--secondary-font-family);
}

.hero {
  display: block;
  text-align: center;
  background: var(--secondary-color);
  padding: 100px 15px;
}

.hero h1 {
  font-family: var(--primary-font-family);
  font-size: 80px;
}

.hero h2 {
  font-size: 25px;
  margin: 0;
}

.btn-warning {
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
  padding: 15px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-warning:hover {
  color: #fff;
}

.container h2 {
  font-family: var(--primary-font-family);
}

.container p {
  font-size: 15px;
}

@media (max-width: 900px) {
  .hero {
    padding: 70px 15px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .container p {
    padding: 0 10px;
  }
}
