:root {
  --primary-font-family: "Pacifico", cursive;
  --secondary-font-family: "Work Sans", sans-serif;
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #382438;
}

body {
  font-family: var(--secondary-font-family);
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 40%,
    rgb(214, 192, 228, 0.8) 60%
  );
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(221, 221, 221) 44.9%,
    rgb(214, 192, 228, 0.8) 96.1%
  );
}

/*Navegation Section*/
nav .container-fluid {
  padding: 5px 50px;
}

/*Hero Section*/
.hero {
  display: block;
  text-align: center;
  background: var(--secondary-color);
  padding: 83px 17px 17px;
}

.hero .hero-mobile {
  background: linear-gradient(
    109.6deg,
    rgb(26, 26, 29) 27.1%,
    rgb(16, 37, 60) 51.2%,
    rgb(111, 34, 50) 77.5%
  );
  padding: 100px 10px;
}

.hero .hero-mobile h1 {
  font-family: var(--primary-font-family);
  font-size: 80px;
  color: var(--secondary-color);
  margin: 0;
}

.hero .hero-mobile h2 {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  color: var(--secondary-color);
  margin: 0;
}

/*About Section*/
.about {
  padding: 85px 17px;
  color: var(--primary-color);
}

.about .container h1 {
  font-family: var(--primary-font-family);
  font-size: 50px;
}

.about .container h2 {
  font-family: var(--secondary-font-family);
  font-size: 25px;
}

.about .container p {
  text-align: justify;
}

.about .container .about-img {
  max-width: 300px;
  border-radius: 50%;
}

.about .container .icon {
  font-size: 40px;
}

/*Projects Section*/
.projects {
  color: var(--primary-color);
  background: linear-gradient(to top, #dfcdea 0%, white 100%);
  padding: 83px 17px 17px;
}

.projects .container h1 {
  font-family: var(--primary-font-family);
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.projects .container h2 {
  font-family: var(--primary-font-family);
  font-size: 26px;
}

.projects .container p {
  font-size: 16px;
}

/*Contact Section*/
footer {
  background: var(--tertiary-color);
}

footer .contact-header {
  text-align: end;
  margin: auto;
}

footer .contact-header h2 {
  font-size: 20px;
  color: var(--secondary-color);
}

footer .contact-links {
  padding: 30px 15px;
}

footer .contact-links a {
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 25px;
  padding: 14px 18px;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 150ms ease-in-out;
}

footer .contact-links a:hover {
  color: var(--tertiary-color);
  background: var(--secondary-color);
}

/*Buttons*/
.btn-danger {
  color: var(--secondary-color);
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-danger:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.btn-dark {
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-dark:hover {
  color: var(--secondary-color);
  background: var(--tertiary-color);
}

/*Media Queries*/
@media (max-width: 767px) {
  .hero .hero-mobile h1,
  .about .container h1,
  .projects .container h1 {
    font-size: 45px;
  }

  .hero .hero-mobile h2,
  .about .container h2 {
    font-size: 20px;
  }

  .about .container,
  .projects .container {
    text-align: center;
  }

  .about .container .about-img {
    max-width: 250px;
    margin-bottom: 35px;
  }

  .about .container .icon {
    font-size: 30px;
  }

  .projects .container p {
    padding: 0 10px;
  }

  footer .contact-header {
    text-align: center;
    margin-top: 15px;
  }

  footer .contact-links {
    text-align: center;
    padding: 9px 13px;
    margin-bottom: 15px;
  }

  footer .contact-links a {
    font-size: 20px;
    padding: 9px 13px;
    margin: 0 20px;
  }
}
